@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

/* You can add global styles to this file, and also import other style files */
  @media print {
    .App {
      -webkit-print-color-adjust: exact;
      background-color: rgb(43, 51, 77) !important;
      width: 297mm;
      max-height: 420mm;
      padding-top: 20px;
    }

    app-configuration {
      display: none !important;
    }

    svg {
        /* height: 40mm; */
    }
  
    .poster-footer {
      position: initial;
    }
  }