h2 {
    width: 80%;
    margin: auto;
}

mat-checkbox {
    margin-right: 12px;
}

.form-group {
    margin-bottom: 12px;
}

button {
    width: 60%;
    margin: auto;
}

.btn-connect-strava {
    cursor: pointer;
}